/* background border setting */
.borderset {
  display: inline-block;
  border-right: 3px solid #FFA500;
  border-left: 3px solid #FFA500;
  border-bottom: 3px solid #FFA500;
  width: 994px;
}

/* font setting */
p {
  font-family: Arial;
  font-size: 13;
}

/* align social network buttons */
.row {
  display: flex;
  justify-content: center;
}
