/* contents for basic pages*/
.midbackground {
  background-color: white;
  width: 994px;
  border-right: 3px solid #FFA500;
  border-left: 3px solid #FFA500;
}

.midcontainer {
  text-align: center;
}

/* contents for main page*/
.maintextbox {
  margin-left: 50px;
  margin-right: 50px;
}

.mainphotobox{
  display:inline;
  margin-right: 50px;
  float:right;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.mainvideo {
  margin-left: 230px;
  padding-top: 10px;
  padding-bottom: 40px;
}

/* font setting */
p.pheading {
  font-weight: bold;
  text-decoration: underline;
}

/* straight line */
hr {
width: 900px;
margin-top:20px;
margin-left: auto;
margin-right: auto;
height: 1px;
background-color:black;
}
